<h1>Blogs</h1>
<ul>
  {{#each blogs}}
    <li>
      <h2><a href="/blog/{{this.id}}">{{this.title}}</a></h2>
      <p>{{this.content}}</p>
      <p>Written by: {{this.User.username}}</p>
    </li>
  {{/each}}
</ul>

{{#if loggedIn}}
  <a href="/profile">Go to Profile</a>
  <button id="logout">Logout</button>

{{/if}}
<script src="/js/profile.js"></script>
