<ul>
  {{#each blogsData}}
    <li>
      <h2><a href="/blog/{{this.id}}">{{this.title}}</a></h2>
      <p>{{this.content}}</p>
      <span class="author">Written by: {{this.User.username}}</span>
    </li>
  {{/each}}
</ul>

