<h1>Blogs</h1>
<ul>
  {{#each blogs}}
    <li>
      <h2><a href="/blog/{{this.id}}">{{this.title}}</a></h2>
      <p>{{this.content}}</p>
    </li>
  {{/each}}
</ul>

{{#if loggedIn}}
  <a href="/profile">Go to Profile</a>
  <button id="logout">Logout</button>
{{else}}
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
{{/if}}
<script src="/public/js/profile.js"></script>
