<h2>Your Blogs</h2>

<ul class="blog-list">
  {{#each blogs}}
    <li>
      <h3>{{this.title}}</h3>
      <p>{{this.content}}</p>
      <button data-id="{{this.id}}">Delete</button>
    </li>
  {{/each}}
</ul>

<form class="new-blog-form">
  <label for="blog-title">Blog Title</label>
  <input type="text" id="blog-title" name="blog-title" required>

  <label for="blog-content">Content</label>
  <textarea id="blog-content" name="blog-content" required></textarea>

  <button type="submit">Add Blog</button>
</form>

<script src="/js/profile.js"></script>
